* {
    margin: 0;
    padding: 0;
}
body{
    background-color:	#F0F0F0;
}
/**/
/*Design topo - inicio*/

/*Design logo - inicio*/
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}
#logo {
    padding: 20px;
    display: flex;
    align-items: baseline;
    color: 	#F0F0F0;
}
#logo span{
    font-size: 18px;
}
#logo a{
    font-size: 32px;
    padding-right: 3px;
    text-decoration: none;
    color: 	#F0F0F0;
}
/*Design logo - fim*/

/* Design menu - inicio*/
#menu ul{
    display: flex;
    color: #F0F0F0;
    list-style: none;
}
#menu ul li{
    padding: 12px;
    font-size: 22px;
    align-content: center;
}
/* Design menu - fim*/

/* Design login - inicio*/
main {
    width: 400px;
    height: 450px;
    background-color:#A0A0A0;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login input{
    width: 300px;
    margin-left: 50px;
    height: 45px;
    border-radius: 4px;
    border: none;
    margin-top: 15px;
    text-align: center;
    background: white
}

#logar:hover{
    cursor: pointer;
}

/*Design topo - fim*/